/* ==UserStyle==
@name         ZhaakTheme
@description  Stay comfy while talking to your friends
@author       zнααк#3289
@namespace    github.com/Zhaak63/ZhaakTheme
@version      1.0.0
==/UserStyle== */

@import "https://Zhaak63.github.io/ZhaakTheme/betterdiscord/main.css";

@-moz-document domain("discord.com") {
    
/* If you don't like one of those variables until "Other settings" you can delete them or you can also
    try to change those if you have some css knowledge */

/* User popout animation */
.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://Zhaak63.github.io/ZhaakTheme/assets/wave.png'); background-size: 250px 20px; animation: animate 4s linear infinite !important; opacity: 1 !important;}.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { position: absolute;content: "";bottom: -1px;left: 0;width: 250px;height: 20px;z-index: -1;animation: animate2 6s linear infinite;animation-delay: 0s;opacity: 0.5;}.headerPlaying-j0WQBV:before { background: url('https://Zhaak63.github.io/ZhaakTheme/assets/wave_playing.png'); background-size: 250px 20px;}.headerSpotify-zpWxgT:before { background: url('https://Zhaak63.github.io/ZhaakTheme/assets/wave_spotify.png'); background-size: 250px 20px;}.headerStreaming-2FjmGz:before { background: url('https://Zhaak63.github.io/ZhaakTheme/assets/wave_streaming.png'); background-size: 250px 20px;}.headerXbox-3G-4PF:before { background: url('https://Zhaak63.github.io/ZhaakTheme/assets/wave_xbox.png'); background-size: 250px 20px;}@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

/* No scrollbars */
::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}


:root {
    /* -- Others settings -- */
    
    /* User button spacing */
    --user-buttons-spacing: 8px;
    
    /* Avatar position */
    --avatar-left: 327.5px;
    --avatar-bottom: 26.5px;
    
    /* Avatar roundess */
    --avatar-radius: 23px;  
    
    /* Status roundness */
    --status-radius: 5px; 
    
    /* Server roundess */
    --server-radius: 15px;
    
    /* Avatar width in modals */
    --avatar-width: 120px;
    
    /* Change bonfire in modals */
    --bonfire: url('https://Zhaak63.github.io/ZhaakTheme/assets/bonfire.gif');
    
    /* Colored emoji picker */
    --colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */
    
    /* Mention color */
    --mention-color: #4e7cff;
    --unread-color: #4e7cff;
    
    /* Mention color in chat */
    --mention-color-bar: #4e7cff;
    --mention-color-background: #1a2338;
    --mention-color-hover: #4e7cff;
    
    /* User settings color (Mute, Deafen and settings) */
    --user-buttons-color: #4e7cff;
    
    /* Chat buttons color */
    --chat-buttons: #4e7cff;
    
    /* Spotify plugin seek bar */
    --spotify-color: #1EDC62;
    
    /* Status color */
    --online: #40c27b;
    --iddle: #feb813;
    --dnd: #f65164;
    --offline: #747F8D;
    
    /* Circles next to role names */
    --role-circle: 5px;
    
    /* Tooltips */
    --tooltips: block; /* Set it to "none" if you don't want it */
    
    /* Discord logo */
    --discord-logo: none; /* Set it to "block" if you want it */
    
    }
     
    .theme-dark {
        --background-tertiary: #1e2132;
        --background-secondary: #171a27;
        --background-secondary-alt: #1e2132;
        --background-primary: #171a27; /* fond chat */
        --background-mobile-primary: #171a27;
        --background-mobile-secondary: #171a27;
        --channeltextarea-background: #1e2132;
        --background-accent: #4e7cff;
        --background-message-hover: transparent;
        --background-modifier-hover: #1e2132;
        --background-modifier-active: #1e2132;
        --background-modifier-selected: #272b45;
        --deprecated-card-bg: #272b45;
        --background-floating: #272b45;
        --deprecated-quickswitcher-input-background:#18181b;
        --elevation-low: none;
        --scrollbar-auto-thumb: #4e7cff;
        --scrollbar-auto-track: #1e2132;
        --scrollbar-thin-thumb: #4e7cff;
        --activity-card-background: #1e2132;
    }
     
    .theme-light { /* I don't support light theme it's just for the "Create a server" popup */
        --background-tertiary: #1e2132;
        --background-secondary: #171a27;
        --background-secondary-alt: #171a27;
        --background-primary: #1e2132;
        --background-accent: #1e2132;
        --background-modifier-hover: #171a27;
        --background-modifier-active: #171a27;
        --header-primary: #fff;
        --header-secondary: #b1b5b9;
        --text-normal: #8e9297;
    }

}